<mat-card *ngIf="rel_dto">
  <mat-card-header>
    <mat-card-title>
      {{rel_dto.repository.org}}/{{rel_dto.repository.repo}}
    </mat-card-title>
    <mat-card-subtitle>
      {{rel_dto.release.released_at}}
      <button mat-flat-button *ngIf="rel_dto.tag" color="accent">* {{rel_dto.tag.name}}</button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>
      {{ rel_dto.changelogs.length > 1 ? 'Changelogs' : 'Changelog' }}
    </mat-card-title>
    <app-changelog [changelogs]="rel_dto.changelogs"></app-changelog>
    <mat-card-title>
      {{ rel_dto.affected_files.length > 1 ? 'Affected files' : 'Affected file' }}
    </mat-card-title>
    <app-affected-file [affected_files]="rel_dto.affected_files"></app-affected-file>
    <mat-card-title *ngIf="rel_dto.release.diffs_url">
      Check diffs: <a mat-button href="{{rel_dto.release.diffs_url}}" target="_blank">
        {{getShortDiffsUrl(rel_dto.release.diffs_url)}}</a>
    </mat-card-title>
    <mat-card-title>
      {{ rel_dto.artifacts.length > 1 ? 'Artifacts' : 'Artifact' }}
    </mat-card-title>
    <app-artifact [artifacts]="rel_dto.artifacts"></app-artifact>
  </mat-card-content>
</mat-card>
