<mat-list class="list-paginator"
  role="list" *ngIf="affected_files && affected_files.length>0">
  <mat-list-item *ngFor="let f of affectedFilesCurrentPage">
    <span><b>{{ f.file_edit_type }}</b></span> <span style="position: relative; left: 10px;"><i>{{ f.file_path }}</i></span>
  </mat-list-item>
</mat-list>

<mat-paginator #paginator
	(page)="handlePageEvent($event)"
	[length]="affected_files ? affected_files.length : 0"
	[pageSize]="5"
	[disabled]="false"
	[showFirstLastButtons]="true"
	[pageSizeOptions]="[]"
	[hidePageSize]="true"
	[pageIndex]="pageIndex"
	aria-label="Select page">
</mat-paginator>
