/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button.date-released {
  background: #7DAF8D;
  border-radius: 100%;
}

.material-icons {
  position: relative;
  top: 10px; /*Change this to adjust the icon*/
  right: 5px;
}

.list-paginator {
  display: block;
  height: 240px;
  border-radius: 5px;
  border: double #32a1ce;
}
