<mat-accordion *ngIf="artifacts && artifacts.length>0">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Build Result
      </mat-panel-title>
      <mat-panel-description>The artifact list.</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item *ngFor="let artifact of artifacts">
        <div *ngIf="artifact.url">
          <mat-icon fontIcon="done"></mat-icon>
          <button mat-button color="primary">{{artifact.defconfig}}</button>
          <a href="{{artifact.url}}" style="float: right;">
            <small><mat-icon fontIcon="folder_zip"></mat-icon>
              {{ artifact.url.split('/').pop() | longFilename:30 }} ({{ artifact.filesize | filesize }}) </small>
          </a>
        </div>
        <div *ngIf="!artifact.url">
          <mat-icon fontIcon="close"></mat-icon>
          <button mat-button color="warn">{{artifact.defconfig}}</button> Build FAILED!
          <button mat-button (click)="openBuildLogDialog(artifact.build_log_url)">Check build log</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

